################################################################################
#

Class/CallMethod
Core/Casts
Core/EmptyStructSizeOf
Core/PlacementNew
Enum/For
#   File: .gitignore
.git/hooks/applypatch-msg.sample
.git/hooks/commit-msg.sample
.git/hooks/post-update.sample
.git/hooks/pre-applypatch.sample
.git/hooks/pre-commit.sample
.git/hooks/prepare-commit-msg.sample
.git/hooks/pre-push.sample
.git/hooks/pre-rebase.sample
.git/hooks/update.sample
gitignore_binaries.sh
#   Note: Dirs and files ignoring by GIT
Pointers/FunctionPtr
Pointers/xPTR_DELETE
StdLibC/strptime
Stl/BoolMap
Stl/replace_if
Stl/SmartPtrs/AutoPtrVSUniquePtr
Stl/StringReverse
